html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
}
header {
    display: flex;
    flex-flow: row wrap;
}

header img {
    display: block;
}

nav {
    display: flex;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    display: inline;
    text-align: center;
}

main {
    display: flex;
}

