html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-flow: row wrap;
}

header img {
    display: block;
    height: 60px;
}

nav {
    height: 50px;
    flex: 100%;
    display: flex;
}

nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
}

nav li {
    display: inline;
    text-align: center;
    flex: 1;
}

nav a {
    display: inline-block;
    font-size: 2rem;
    height: 3rem;
    line-height: 1.7;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

main {
    display: flex;
}

